<div class="solution-list">
	{% for solution in list %}
		
		{% if loop.index > 1 %}
			<hr />
		{% endif %}
		
		<div class="row solution-container" id="solution_{{ solution.id }}">
			<div class="col-md-1">
				<div class="vote-container text-center">
					<a href="{{ path('ds_solution_vote', {id: solution.id, voteDirection: 1}) }}">
						<span class="glyphicon glyphicon-chevron-up"></span>
					</a>
					<div class="score">{{ solution.score }}</div>
					<a href="{{ path('ds_solution_vote', {id: solution.id, voteDirection: -1}) }}">
						<span class="glyphicon glyphicon-chevron-down"></span>
					</a>
				</div>
			</div>
			<div class="col-md-11">
				
				<div class="btn-group btn-group-xs pull-right">
					{% if app.user and app.user.id == solution.user.id %}
						<a href="{{ path('ds_solution_edit', {id: solution.id}) }}" class="btn btn-default">Edit</a>
						<a href="{{ path('ds_solution_delete', {id: solution.id}) }}" class="btn btn-default">Delete</a>
					{% endif %}
				</div>
				
				{{ solution.solutionMarkdown|markdown }}
				<p>
					<a href="{{ path('ds_user', {username: solution.user.username}) }}">{{ solution.user.username }}</a>
					<span class="datetime-updated">{{ solution.updated|date('l jS F Y, H:i')}}</span>
				</p>
				<hr />
				
				{% include 'AccordDevStackBundle:SolutionComment:list.html.twig' with {list: solution.comments} %}
				
				{{ form(commentForms[solution.id]) }}
				
			</div>
		</div>
	{% endfor %}
</div>